
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by <strong> <a style="color: rgb(122, 5, 151);" href="mailto:harshulsharma7@gmail.com">Harshul Sharma</a></strong></p>
  </div>
</div>
</body>
</html>
